:root {
    --font-logo: "Oleo Script", system-ui;
    --font-primary: "Roboto", sans-serif;

    --color-primary: #a72a7c;
    --color-primary-light: #d451a1;
    --color-primary-light-2: #f13781;
    --color-primary-dark: #861d64;
    --color-accent-pink: #ffb3db;
    --color-secondary: #ff8400;
    --color-secondary-2: #e3182b;

    --gradient-primary: linear-gradient(135deg, #ec4899, #8b5cf6, #5b21b6);
    --color-bg-body: #fff1f1;
    --color-bg-footer: #242565;
    --color-bg-card: #ffffff;
    --color-border-soft: #e5dde4;

    --color-text-dark: #2b2b2b;
    --color-text-light: #666666;
    --color-hover-gray: #f2f2f2;

    --color-success: #4caf50;
    --color-warning: #ff9800;
    --color-error: #f44336;
    --color-info: #2196f3;

}

body {
    overflow-x: hidden;
    font-family: var(--font-primary);
}

/* ===== SIDEBAR ===== */
#sidebar {
    width: 60px;
    min-width: 60px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #131b23;
    transition: width .3s ease;
    overflow-y: auto;
    z-index: 1000;
}

#sidebar:hover {
    width: 250px;
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 12px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    /* min-height: 70px; */
    gap: 10px;
    width: 60px;
    overflow: hidden;
    transition: width 0.15s ease-in-out;
}

#sidebar:hover .logo-container {
    width: 250px;
}

.logo {
    width: 38px;
    height: 38px;
    background-color: #3498db;
    border-radius: 8px;
    flex-shrink: 0;
}

.logo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.brand-name {
    color: white;
    font-family: var(--font-logo);
    font-size: 26px;
    font-weight: 600;
    background: var(--gradient-primary);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

#sidebar:hover .brand-name {
    opacity: 1;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin-top: 8px;
}

.sidebar-item {
    position: relative;
}

.sidebar-link {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    color: #ecf0f1;
    text-decoration: none;
    transition: background .2s;
    white-space: nowrap;
    cursor: pointer;
}

.sidebar-link:hover {
    background: #2c3e5055;

}

.sidebar-link.active {
    background: #2c3e50;
}

.sidebar-link .material-icons-round:first-child {
    font-size: 24px;
    margin-right: 10px;
}

.menu-text {
    opacity: 0;
    transition: opacity .3s ease;
}

#sidebar:hover .menu-text {
    opacity: 1;
}

.arrow-icon {
    margin-left: auto;
    transition: transform .3s ease;
}

.sidebar-link[aria-expanded="true"] .arrow-icon {
    transform: rotate(180deg);
}

.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.collapse,
.collapsing {
    transition: height 0.1s ease-in-out !important;
}

.submenu-link {
    display: flex;
    align-items: center;
    padding: 8px 30px;
    color: #bdc3c7;
    font-size: 14px;
    text-decoration: none;
    gap: 8px;
    transition: background .2s;
}

.submenu-link:hover {
    background: rgba(255, 255, 255, 0.199);
}

.submenu-link:active {
    background: rgba(255, 255, 255, 0.1);
}

.submenu-link .material-icons-round {
    font-size: 10px;
}

/* Ẩn scrollbar khi không hover */
#sidebar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#sidebar::-webkit-scrollbar {
    display: none;
}

#sidebar:hover {
    scrollbar-width: auto;
    -ms-overflow-style: auto;
}

#sidebar:hover::-webkit-scrollbar {
    display: block;
    width: 8px;
}

#sidebar:hover::-webkit-scrollbar-thumb {
    background: #34495e;
    border-radius: 4px;
}

/*  ===== MAIN-CONTENT ===== */
.main-content {
    margin-left: 60px;
    /* padding: 20px; */
    transition: margin-left .3s ease;
    top: 0;
}

#sidebar:hover~.main-content {
    margin-left: 250px;
}

.page-header {
    /* position: sticky; */
    padding: 15px 30px;
}

.search-form {
    max-width: 330px;
    width: 100%;
}

/* Tắt transition trên input và button */
.search-form .btn {
    border-left:none;
}
.search-form .form-control,
.search-form .btn {
    border-color: #ced4da;
    transition: none;
}

/* Tắt outline, box-shadow khi focus hoặc hover trên input */
.search-form .form-control:focus,
.search-form .form-control:hover {
    outline: none !important;
    box-shadow: none !important;
}

/* Tắt background/box-shadow khi hover, focus, active trên button */
.search-form .btn:hover,
.search-form .btn:focus,
.search-form .btn:focus-visible {
    background-color: transparent !important;
    outline: none;
    color: inherit !important;
    box-shadow: none !important;
}
.search-form .input-group .btn::-moz-focus-inner {
  border: 0 !important;
}

.header-icons {
    gap: 20px
}
/* Ẩn badge nếu không có thông báo mới */
.header-icons .badge {
    display: inline-block;
    width: 8px;
    height: 8px;
}