<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <!-- Icon -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet" />
    <!-- Assets -->
    <link rel="stylesheet" href="../../static/assets-user/css/reset-password.css" />
    <title>Đặt lại mật khẩu - EvenTory</title>
  </head>
  <body>
    <main id="main-content" class="reset-password-page">
      <div class="reset-password-container">
        <h2 class="reset-password-title">Đặt lại mật khẩu</h2>
        <form class="reset-password-form">
          <div class="input-group">
            <label for="username">Tài khoản</label>
            <input type="text" id="username" placeholder="Nhập tài khoản" required />
          </div>
          <div class="input-group">
            <label for="password">Mật khẩu</label>
            <input type="password" id="password" placeholder="Nhập mật khẩu mới" required />
          </div>
          <button type="submit" class="reset-password-btn">Đặt lại mật khẩu</button>
        </form>
      </div>
    </main>
  </body>
</html>