<footer class="site-footer" th:fragment="footer">
  <div class="footer-container">
    <div class="footer-col">
      <div class="footer-logo">
        <img src="/upload/other/logo.jpg" alt="EvenTory Logo"
            style="max-height: 40px; vertical-align: middle;" />
        <p>EvenTory</p>
      </div>
      <p class="footer-desc">
        EvenTory – Nơi khởi đầu của những trải nghiệm sống động. Từ ý tưởng
        đến hiện thực, từ khoảnh khắc đến ký ức – chúng tôi luôn đồng hành
        cùng bạn trong từng sự kiện.
        <br />🌟 Kết nối với chúng tôi để cập nhật tin tức mới và khám phá
        những câu chuyện đằng sau mỗi buổi diễn.
      </p>
      <div class="footer-contact">
        <p>
          <span class="material-symbols-rounded">mail</span>
          <a href="mailto:eventory.z10@gmail.com">eventory.z10@gmail.com</a>
        </p>
        <p>
          <span class="material-symbols-rounded">location_on</span>
          Khu phố 6, phường Linh Trung, TP. Thủ Đức, TP. Hồ Chí Minh
        </p>
      </div>
    </div>

    <div class="footer-col footer-menu">
      <h4 class="footer-title">Chính sách và bảo mật</h4>
      <ul class="footer-links">
        <li>
          <a href="https://sites.google.com/gm.uit.edu.vn/z10/%C4%91%E1%BB%93-%C3%A1n/h%C6%B0%E1%BB%9Bng-d%E1%BA%ABn">
            Quy chế hoạt động
          </a>
        </li>
        <li>
          <a href="https://sites.google.com/gm.uit.edu.vn/z10/gi%E1%BB%9Bi-thi%E1%BB%87u/v%E1%BB%81-nh%C3%B3m">
            Về chúng tôi
          </a>
        </li>
        <li><a href="#">Điều khoản</a></li>
        <li><a href="#">Trung tâm hỗ trợ</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4 class="footer-title">
        Đăng kí để nhận email về các sự kiện sớm nhất
      </h4>
      <form class="footer-form">
        <div class="input-wrapper">
          <span class="material-symbols-rounded">mail</span>
          <input type="email" placeholder="Email" />
        </div>
        <button type="submit">
          <span class="material-symbols-rounded">send</span>
        </button>
      </form>
      <div class="footer-socials">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
        <a href="#"><i class="fa-brands fa-tiktok"></i></a>
      </div>
    </div>
  </div>

  <hr class="footer-divider" />

  <p class="footer-copy">
    Copyright &copy; 2025 <strong>EvenTory by Z10</strong>. All rights reserved.
  </p>
</footer>