<header class="site-header" th:fragment="header-authenticated">
    <div class="container">
        <div class="logo">
            <a href="/">
                <img src="/upload/other/logo.jpg" alt="EvenTory Logo" />
                <h1>EvenTory</h1>
            </a>
        </div>

        <div class="search-bar">
            <input type="text" placeholder="Tìm gì đó bùng nổ 🔥 nào?" />
            <button>
                <span class="material-symbols-rounded">search</span>
            </button>
        </div>

        <nav class="nav-links">
            <a th:href="@{/create-event}" th:classappend="${activePage=='create-event'} ? ' active' : ''" id="createEventBtn">Tạo sự kiện</a>
            <a th:href="@{/buy-ticket}" th:classappend="${activePage=='buy-ticket'} ? ' active' : ''" >Kho vé</a>
            <a href="/contact">Liên hệ</a>
            <div class="avatar-dropdown">
                <div class="avatar">
                    <img src="/upload/avatar/avatar.jpg" alt="User Avatar" />
                </div>
                <div class="dropdown-menu">
                    <a href="/account" class="dropdown-item">
                        <span class="material-symbols-rounded">person</span>
                        Tài khoản
                    </a>
                    <a href="/account-ticket" class="dropdown-item">
                        <span class="material-symbols-rounded">star</span>
                        Vé đã mua
                    </a>
                    <a href="/account-event" class="dropdown-item">
                        <span class="material-symbols-rounded">event</span>
                        Sự kiện của tôi
                    </a>
                    <a href="#" class="dropdown-item">
                        <span class="material-symbols-rounded logout">logout</span>
                        Đăng xuất
                    </a>
                </div>
            </div>
        </nav>
    </div>
</header>